@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --bg: #F2F2F2;
  --darker: #08261B;
  --dark: #174031;
  --light: #1E593E;
  --lighter: #297350;

  --fast: 300ms;
  --slow: 600ms;
}

* {
  box-sizing: border-box;
}

body {
  width: 500px;
  margin: 20px auto;
  padding: 5px 50px;
  font-family: 'Lato', sans-serif;
  background-color: var(--bg);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}

form {
  font-weight: bold;
  color: var(--darker);
}

.input-txt {
  width: 100%;
  font-size: 1rem;
  color: var(--light);
  font-weight: normal;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--darker);
}

.input-btn {
  width: 100px;
  height: 35px;
  border-radius: 1em;
  color: var(--bg);
  font-size: 1rem;
  background-color: var(--lighter);
}

.submit {
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
  color: var(--darker);
}

.curso {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--dark);
  border-radius: 1em;
  margin-bottom: 15px;
  padding: 10px;
}

.curso:hover {
  box-shadow: 5px 5px var(--light);
  transition: box-shadow var(--fast);
}

.icons {
  gap: 2em;
  display: flex;
  flex-direction: column;
}

.icons button {
  font-size: 1.2rem;
}

.icons button:hover {
  color: var(--lighter);
  transition: color var(--fast);
}

.add {
  display: flex;
  justify-content: center;
}

.add input {
  width: 100px;
  height: 50px;
  border-radius: 1em;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: var(--lighter);
  color: var(--bg);
  border: none;
  float: right;
}

.add input:hover {
  width: 100%;
  border-radius: 1rem;
  padding: 0 20px;
  transition: width var(--slow), border-radius var(--slow);
}